.tabsContainer {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
    padding-bottom: 8px;
}

.tabButton {
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    color: #475569;
    border-bottom: 2px solid transparent;
    margin-bottom: -2px;
    transition: color 0.2s, border-color 0.2s;
}

.tabButton.active {
    font-weight: bold;
    color: #1E293B;
    border-bottom: 2px solid #1E293B;
}