.progressBar {
  padding: 8px 12px;
  margin-bottom: 12px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  color: #fff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.purple {
  background-color: #4F46E5;
  color: #4F46E5;
}

.yellow {
  background-color: #F59E0B;
  color: #F59E0B;
}

.green {
  background-color: #22C55E;
  color: #22C55E;
}

.labelText {
  font-size: 1rem;
  color: #fff;
}

.countCircle {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  background-color: #fff;
  color: inherit;
  transition: transform 0.3s ease;
}