main {
    display: flex;
    /* flex-direction: row; */
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
.deleteButtonStyle {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 27px;
    margin-inline: auto;
    max-width: 186px;
    padding: 14px 20px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 100;
}

section {
    background: #F1F5F9;
    padding: 32px 16px;
    border-radius: 32px;
}

.deleteButtonStyle:hover {
    background-color: #CC0000;
}
@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
    }
}