.headerStyle {
  margin-bottom: 1.5rem;
}

.titleStyle {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 1.875rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backButtonStyle {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  padding: 0;
  margin-right: 0.25rem;
  color: inherit;
  transition: 0.2s ease-in-out;
}

.backButtonStyle:hover {
  transform: scale(1.1);
  opacity: 0.7;
}

.iconsContainerStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.iconButtonStyle {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.iconButtonStyle:hover {
  transform: scale(1.05);
}
